@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200;300&family=Dosis:wght@200;300;400;500&family=Montserrat:wght@100;300;400&display=swap');
:root {
  --hero: 'Dosis', sans-serif;
  --title: 'Montserrat', sans-serif;
  --text: 'Asap Condensed', sans-serif;
  --wThin: 100;
  --wXlight: 200;
  --wLigth: 300;
  --wRegular: 400;
  --wMedium: 500;
  --borderLogo: #fcbde1;
  --beforeLogo: #fc446c;
  --shadowLogo: #fc041c;
  --primary: #fc446c;
  --lightened: #fcbde1;
  --darktened: #fc041c;
  --white: #fdfdfd;
  --black: #111111;
  --backgroundBlack: #010204;
  --blue: #1400ff;
  --xs: 575px;
  --sm: ;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/*GRIDS*/
body {
  display: grid;
  grid-template-rows: 2fr 6fr 1fr;
}

/*HEADER*/
header {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--black);
}
nav {
  height: 6rem;
  background-color: var(--black);
  top: 0;
  position: fixed;
  z-index: 20;
  width: 100vw;
}
.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.logo {
  width: 5rem;
}
.logo img {
  object-fit: cover;
  object-position: center;
}
.menu__burger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 2rem;
}
.menu__burger button {
  border: 0.1rem solid var(--lightened);
  background-color: transparent;
  color: var(--lightened);
  border-radius: 50%;
  transition: 0.3s ease-out;
  width: 3.5rem;
  height: 3.5rem;
}
.menu__burger button i {
  padding: 0.7rem;
  font-size: 2rem;
  width: 100%;
  height: 100%;
}
.menu__burger button:hover {
  text-shadow: 1px 1px 2px var(--borderLogo), 0 0 1.5rem var(--beforeLogo),
    0 0 0.3rem var(--shadowLogo);
  box-shadow: 1px 1px 2px var(--borderLogo), 0 0 1.5rem var(--beforeLogo),
    0 0 0.3rem var(--shadowLogo);
  cursor: pointer;
}
.menu {
  width: 100vw;
  height: 100%;
  padding: 1rem 0;
  transform: translateX(-100vw);
  transition: 0.8s ease-out;
  margin-top: 8rem;
  margin-left: -10rem;
}
.active {
  transform: translateX(0);
}
.menu ul {
  padding: 3rem 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
}
.menu ul li {
  padding: 1rem;
}
.menu ul li a {
  color: var(--white);
  text-transform: uppercase;
  font-weight: var(--wRegular);
  transition: 0.3s ease-out;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  font-family: var(--title);
  font-size: 1rem;
  display: flex;
}
.menu ul li a:hover {
  text-shadow: 1px 1px 2px var(--borderLogo), 0 0 1.5rem var(--beforeLogo),
    0 0 0.3rem var(--shadowLogo);
}
.menu ul li a span {
  margin-right: 0.5rem;
  visibility: hidden;
  transition: 0.2s ease-out;
}
.menu ul li a:hover span {
  visibility: visible;
}
#hero {
  margin-top: 6rem;
}
.hero__content {
  min-height: 12rem;
  width: 100%;
  display: grid;
  place-content: center;
  background-image: url('../img/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--backgroundBlack);
  padding: 1rem;
}
.filter {
  width: 50vw;
  min-width: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(0.3rem);
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.filter span {
  margin: 1rem 0;
  font-family: var(--hero);
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  position: relative;
}

.filter span::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  top: 0.2rem;
  left: 0.2rem;
  color: var(--borderLogo);
}
.filter p {
  text-align: center;
  width: fit-content;
  font-family: var(--hero);
  font-weight: var(--wRegular);
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  color: var(--white);
}
.filter p::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  color: var(--borderLogo);
}
/*MAIN*/
main {
  margin: 0;
  padding: 0;
  width: 100vw;
}
section {
  background-color: var(--black);
  height: 100%;
  width: 100%;
  padding: 1rem 1rem 0;
}
.sub__title {
  color: var(--white);
  text-align: center;
  text-transform: capitalize;
  font-family: var(--title);
}

/*FOOTER*/
footer {
  width: 100vw;
  padding: 0;
  min-height: 10vh;
  background: url('../img/fondo.jpg'), #010204;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: capitalize;
  font-family: var(--hero);
  vertical-align: bottom;
  padding: 1rem;
  width: 100%;
}

h1 {
  margin: 1rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
label {
  font-family: var(--text);
}
input,
textarea {
  font-size: 1rem;
}
input,
textarea,
button {
  border-radius: 0.3rem;
  border: none;
  font-family: var(--title);
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}

.highlight__shadow {
  text-shadow: 1px 1px 2px var(--borderLogo), 0 0 1.5rem var(--beforeLogo),
    0 0 0.3rem var(--shadowLogo);
}

/* #feature,
#hero,
#contact,
#reservation {
  scroll-margin-top: 7rem;
  height: 100%;
} */

.cards__container {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  width: 30vw;
  min-width: 20rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0.5rem 2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
  flex-grow: 1;
}
.card img {
  object-fit: cover;
  object-position: center;
  max-height: 10rem;
  border-radius: 0.5rem;
}
.card__title {
  font-family: var(--title);
  text-transform: uppercase;
  text-align: end;
  padding: 0.5rem 0;
}
.card__description {
  font-family: var(--text);
  text-align: justify;
}
.wrapper__container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
#contact,
#reservation {
  min-width: fit-content;
  padding-bottom: 1rem;
  border-radius: 1rem;
}
#contact h2,
#reservation h2 {
  text-align: center;
  vertical-align: baseline;
}
.form__container {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
  padding: 1rem 2rem;
  background-color: #070707;
  border-radius: 0.5rem;
  border: 0.2rem solid;
  border-color: var(--beforeLogo);
}
.form__container textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 10rem;
  padding: 0.5rem;
  font-family: sans-serif;
}
.form__item {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__item label {
  color: #efefef;
}
.form__item span {
  background-color: #ffffff;
  width: 70%;
  padding: 0.5rem;
  color: var(--black);
  font-family: var(--title);
}
.form__item span input {
  border: none;
  padding: 0;
}
.form__item span input::placeholder {
  font-size: 1rem;
}
.form__item input {
  width: 70%;
  padding: 0.5rem;
}
.form__item input::placeholder {
  font-size: 0.8rem;
  text-transform: capitalize;
}
.button__container {
  width: 50%;
  padding: 0.5rem 0;
}
.button__container button {
  color: #efefef;
  background: linear-gradient(var(--blue), var(--beforeLogo));
  padding: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
}
/*EXTRAS*/
.line__gradient {
  width: 100%;
  height: 0.5rem;
  background-image: linear-gradient(
    90deg,
    var(--beforeLogo),
    var(--blue),
    var(--shadowLogo),
    var(--blue)
  );
  background-size: 300% 100%;
  animation: animateBg 7s linear infinite;
}
.reverse__gradient {
  transform: rotate(180deg);
}
.blob {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: linear-gradient(180deg, #fc041c26 31.77%, var(--beforeLogo) 100%);
  mix-blend-mode: color-dodge;
  -webkit-animation: move 25s infinite alternate;
  animation: move 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
  display: none;
}
.text__shadow {
  text-shadow: 1px 1px 2px var(--borderLogo), 0 0 1.5rem var(--beforeLogo),
    0 0 0.3rem var(--shadowLogo);
}
.box__shadow {
  box-shadow: 1px 1px 2px var(--borderLogo), 0 0 1.5rem var(--beforeLogo),
    0 0 0.3rem var(--shadowLogo);
}

@keyframes animateBg {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-webkit-keyframes move {
  from {
    transform: translate(-6.25rem, -3.125rem) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(31.25rem, 6.25rem) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@media screen and (min-width: 575px) {
  .nav__content {
    justify-content: space-between;
  }
  .menu__burger {
    display: none;
  }
  .menu {
    transform: translate(0);
    margin: 0 1rem 0 0;
    width: 100%;
  }
  .menu ul {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    padding: 0;
  }
  .menu ul li {
    width: fit-content;
    padding: 1rem 0;
  }
  .menu ul li a {
    font-size: 0.8rem;
    text-align: center;
    width: fit-content;
    padding: 0.3rem;
  }
  .menu ul li a span {
    display: none;
  }
  .hero__content {
    background-size: contain;
    background-repeat: space;
  }
  .filter {
    backdrop-filter: blur(1rem);
  }
  .filter span {
    font-size: 3rem;
  }
  .filter p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 769px) {
  .logo {
    width: 6rem;
  }
}

@media screen and (min-width: 993px) {
  .menu ul li a {
    font-size: 1rem;
  }
  .menu ul li a span {
    display: block;
  }
}
@media screen and (min-width: 1201px) {
  .menu ul li {
    text-align: flex-end;
  }
  .menu ul li a {
    font-size: 1rem;
  }
}
