@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200;300&family=Dosis:wght@200;300;400;500&family=Montserrat:wght@100;300;400&display=swap');
:root {
  --hero: 'Dosis', sans-serif;
  --title: 'Montserrat', sans-serif;
  --text: 'Asap Condensed', sans-serif;
  --wThin: 100;
  --wXlight: 200;
  --wLigth: 300;
  --wRegular: 400;
  --wMedium: 500;
  --primary: #fc446c;
  --lightened: #fcbde1;
  --darktened: #fc041c;
  --white: #fdfdfd;
  --black: #111111;
  --backgroundBlack: #010204;
  --backgroundForm: #070707;
  --blue: #1400ff;
  --backgroundCard: rgba(255, 255, 255, 0.05);
  --boxShadowCard: rgba(31, 38, 135, 0.37);
}
html {
  scroll-behavior: smooth;
}
textarea {
  resize: none;
}
#contact,
#reservations {
  scroll-margin-top: 4rem;
}
.bg_screen {
  background-color: var(--backgroundBlack);
}
.bg__dark {
  background-color: var(--black);
}
.bg__menu {
  min-height: 100vh !important;
}
.bg__form {
  background-color: var(--backgroundForm);
}
.bg__footer {
  background: var(--backgroundBlack) url('../img/fondo.jpg') no-repeat local
    left top;
  min-height: 10rem;
  background-size: auto;
}
.bg__hero {
  min-height: 15rem;
  margin-top: 6rem;
  background: var(--backgroundBlack) url('../img/fondo.jpg') repeat-x local top
    right;
  background-size: auto;

  height: fit-content;
  color: var(--white);
  display: grid;
  place-items: center;
  background-color: var(--backgroundBlack);
}
.filter {
  width: 50vw;
  min-width: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(0.3rem);
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.filter__text {
  font-family: var(--hero);
  position: relative;
}
.filter__text::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  top: 1%;
  left: 1%;
  color: var(--lightened);
  display: flex;
  width: fit-content;
  flex-wrap: nowrap;
}

.navbar-toggler {
  color: var(--lightened) !important;
  background-color: transparent;
  border-color: var(--lightened) !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.nav-link:hover {
  text-shadow: 1px 1px 2px var(--lightened), 0 0 1.5rem var(--primary),
    0 0 0.3rem var(--darktened);
}
.navbar-toggler:hover {
  text-shadow: 1px 1px 2px var(--lightened), 0 0 1.5rem var(--primary),
    0 0 0.3rem var(--darktened) !important;
  box-shadow: 1px 1px 2px var(--lightened), 0 0 1.5rem var(--primary),
    0 0 0.3rem var(--darktened) !important;
  cursor: pointer;
  background-color: transparent;
  color: var(--lightened);
}
a i.visible__icon {
  visibility: hidden;
}
a:hover i.visible__icon {
  visibility: visible;
}

.line__gradient {
  width: 100%;
  height: 0.5rem;
  background-image: linear-gradient(
    90deg,
    var(--primary),
    var(--blue),
    var(--darktened),
    var(--blue)
  );
  background-size: 300% 100%;
  animation: animateBg 7s linear infinite;
}
.reverse__gradient {
  transform: rotate(180deg);
}
.text__shadow {
  text-shadow: 1px 1px 2px var(--lightened), 0 0 1.5rem var(--primary),
    0 0 0.3rem var(--darktened);
}
.box__shadow {
  box-shadow: 1px 1px 2px var(--lightened), 0 0 1.5rem var(--primary),
    0 0 0.3rem var(--darktened);
}
.bg__card {
  background: var(--backgroundCard);
  box-shadow: 0 0.5rem 2rem 0 var(--boxShadowCard);
  backdrop-filter: blur(1.125rem);
  -webkit-backdrop-filter: blur(1.125rem);
  border: 0.1rem solid var(--backgroundCard);
}
.text-white {
  color: var(--white) !important;
}

.btn__custom {
  color: var(--white);
  background: linear-gradient(10deg, var(--blue), var(--primary));
  border: none;
  transition: all 0.5s linear;
}
.btn__custom:hover {
  background: linear-gradient(30deg, var(--blue), var(--primary));
  opacity: 80%;
  color: var(--white);
}
/*@KEYFRAMES*/
@keyframes animateBg {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-webkit-keyframes move {
  from {
    transform: translate(-5rem, 5rem) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(25rem, 25rem) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move {
  from {
    transform: translate(-5rem, 5rem) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(25rem, 25rem) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@media screen and (min-width: 768px) {
  .visible__icon {
    display: none;
  }
  .blob__container {
    max-width: 100vw;
  }
  .blob {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: linear-gradient(180deg, #fc041c26 31.77%, var(--primary) 100%);
    mix-blend-mode: color-dodge;
    -webkit-animation: move 25s infinite alternate;
    animation: move 25s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
  }
}

@media screen and (min-width: 992px) {
  .bg__menu {
    min-height: fit-content !important;
  }
  .visible__icon {
    display: block;
  }
  .bg__footer {
    min-height: 15rem;
  }
}
